[submodule "vendors/glfw"]
	path = vendors/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendors/glew-cmake"]
	path = vendors/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "vendors/spdlog"]
	path = vendors/spdlog
	url = https://github.com/gabime/spdlog.git
